.heading {
    font-size:23px;
    width:100%;
    margin:0px;
    font-family: 'Varela Round', sans-serif;
    font-weight:bolder;
    box-shadow: 5px 5px 5px lightskyblue;
}

.note {
    font-size:20px;
    color:black;
    font-family: 'Patrick Hand', cursive;
    font-weight:1px;
}

body {
    background-image:url("whiteb.png");
    background-size:cover;
}

.object {
    font-family: 'Patrick Hand', cursive;
    font-size:30px;
    width:300px;
    border-radius:40;
    margin:20px;
}

.copy_right_footer {
    position:fixed;
    bottom:0;
    width:100%;
    background-color:lightgreen;
    color:black;
    text-align: center;
    line-height:3;
    font-family: 'Varela Round', sans-serif;
    font-size:17px;
    font-weight:bolder;
}

